  .header {
  width: 100%;
  padding: 0px;
  border: 1px solid var(--text-color);
  }

  .logo {
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 85px;
  }

  .web_color {
    color: #2196F3;
  }




  @media screen and (max-width: 767px) {
    .navigation_list {
    
      display: none;
    }
  
    .mail_tel_link {
      display: none;
    } 
  
    .mobile-open-btn {
      padding: 0;
      border: none;
      background-color: transparent;
    }

    .mobile-open-icon:focus,
    .mobile-open-icon:hover {
      fill: #2196F3;
    }

    .mobile_menu_close_icon:focus,
    .mobile_menu_close_icon:hover {
      fill: #2196F3;
    }

    .mobile-open-icon {
        padding: 0;
        border: none;
        background-color: transparent;
        width: 40px;
        height: 40px;
        margin-right: -40px;
    }
  
    .header_container {
      height: 100%;
    }
    
    .navigation_container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
  
    .mobile_menu {
        position: fixed;
        width: 100vw;
        overflow: scroll;
        height: 100vh;
        top: 0;
        left: 50%;
        background-color: #ffffff;
        padding: 48px 40px;
        transform: translateX(-50%) translateY(-100%);
        z-index: 1;
        /*opacity: 0;
        visibility: hidden;
        pointer-events: none;*/
        transition: all 250ms linear;
    }


   
  
    .is-open {
      transform: translateX(-50%) translateY(0%);
      /*opacity: 1;
      visibility: visible;
      pointer-events: auto;*/
  }
  
  
    .mobile_menu_close_bnt { 
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  
    .mobile_menu_close_icon {
        width: 40px;
        height: 40px;
        
    }
  

 
      .mobile_menu_list_item .mobile_menu_list_link {
        font-family:'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: #212121;

      }
  


      .mobile_menu_list {
        margin: 0;
        padding: 0;
          margin-bottom: 302px;
      }
  



      .mobile_menu_list_item {
        margin-bottom: 25px;
      }


      .mobile_menu_list_item_2 {
        margin: 0;
        padding: 0;
   
      }


      .mobile_menu_list_item_2:first-child  {
       
        margin-bottom: 32px;
      }
      

      .mobile_menu_list_2 {
          margin: 0;
          padding: 0;
        margin-bottom: 64px;
      }

  
      .mobile_menu_list_3 {
        margin: 0;
        padding: 0;
          display: flex;
          justify-content: start;
      }
 
      .mobile_menu_list_item_3:not(:last-child) {
          border-right: 1px solid rgba(33, 33, 33, 0.2);
          
      }
  
    //   .mobile_menu_list_item_3:not(:first-child) {
    //     padding-left: 0;
      
    // }


  
    .mobile_menu_list_link_3 {
        display: block;
        // padding: 0 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #2196F3;
        /*border-right: 1px solid rgba(33, 33, 33, 0.2);*/
    }


    .mobile_menu_list_link_3:not(:last-child) {
    
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }


    .mobile_menu_list_item_3 {
      padding: 0 10px;
    }


     .mobile_menu_list_item_3:first-child {
         padding-left: 0;
     
    }


    .mobile_menu_list_ltem_3:last-child {
      padding-right: 0;
  
 }



    .mobile_menu_list_link_2 {
      font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;
letter-spacing: 0.02em;
color: #2196F3;
}

.mobile_menu_list_link_2m {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

}

        /* TABLET*/




  @media screen and (min-width: 768px) {
    .mobile-open-btn {
      display: none;
    }


    .mobile_menu {
      display: none;
    }


    .header {
      padding: 0px;
    }


    .navigation_container {
      display: flex;
      align-items: center;
     
  }
  
  .navigation_list {
      display: flex; 
      align-items: center;
  }
  
  
    
.logo {
  margin: 0 auto;

}



  .navigation_list_item:not(:last-child) {
      margin-right: 50px;
  }
  


  .navigation_list_link {
      position: relative;
      display: flex;
      align-items: center;
      height: 70px;
      font-family: 'Roboto',sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #212121;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .navigation_list_link:hover::after {
      transform: scale(1);
  }
  
  
  .navigation_list_link::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background-color: #2196F3;
      border-radius: 4px;
      top: 100%;
      left: 0;
      transform: scale(0);
      
  }
  
  
  
  .navigation_list_link.active::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      background-color: #2196F3;
      border-radius: 4px;
      top: 100%;
      left: 0;
  }
  
  .navigation_list_item::after {
      
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .header_container:hover .navigation_list_item::after,
  .header_container:focus .navigation_list_item::after {
      background-color: #2196F3;
  }
  
  
  
  .navigation_list_link:hover,
  .navigation_list_link:focus,
  .mail_tel_link:hover,
  .mail_tel_link:focus {
      color: #2196F3;
  }
  
  
  
  .mail_tel_link {
      font-family: 'Roboto',sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #757575;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  .mail_tel_link:hover .header_icons,
  .mail_tel_link:focus .header_icons {
      fill: #2196F3;
  }
  
  
  
  .header_icons {
      fill: #757575;
      margin-right: 10px;
  }
  
  
  
  .header_contacts {
      display: flex;
      flex-direction: column;
      
      

  }
  
  .header_contacts_list:not(:last-child) {
      margin-bottom: 6px;
  }
  
  }


    



  @media screen and (min-width: 1200px) {


    .header_contacts {
      display: flex;
      flex-direction: row;
  }
  
  .header_contacts_list:not(:last-child) {
      margin-right: 30px;
  }

}